{% extends "base.html" %}
{% block homepage%}
<div class="top-wrapper">
    <div class="container">
      <h1>My Gully Cricket Stats</h1>
     
      <p>mgcStats is made for cricket geeks to save their stats online.</p>
      <p>We hope you have a good experience and save lots of precious memories.</p>
      <div class="btn-wrapper">
        <a href="#" class="btn signup">Sign up with Email</a>
        <p>or</p>
        <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Sign up with Facebook</a>
        <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Sign up with Twitter</a>
      </div>
    </div>
  </div>
{%endblock%}
